.item-menu {
  width: 100%;
  height: 5em;
  position: fixed;
  background-color: red;
}
/* .brand-logo {
  margin-left: 2em;
  border-radius: 0.3em 0.3em;
  width: 175px;
  height: 150px;
} */
.item-menu-nav {
  text-align: center;
}
.nav-wrapper {
  background: -webkit-linear-gradient(
    to right,
    #4286f4,
    #e52f1e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4286f4,
    #e52f1e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Josefin Sans", sans-serif;
}
.nav-wrapper a {
  font-size: 1.5em;
}
.navbar-button {
  position: absolute;
  margin: 0% 0;
  left: 1em;
  top: 1em;
  visibility: hidden;
}
.nav-item-menu {
  padding-left: 1em;
  margin: 2em;
  margin-top: 0.5em;

  height: 2.5em;
  text-align: left;
  border-radius: 0.5em 0.5em;
}
.nav-item-menu:hover {
  background-color: rgba(186, 181, 172, 1);
}
.nav-item-text {
  position: relative;
  bottom: 0.5em;
  left: 5em;
  font-family: "Josefin Sans", sans-serif;
}
@media screen and (max-width: 999px) {
  .home-body {
    bottom: 0;
  }
  .navbar-button {
    visibility: visible;
  }
  .navbar-menu-default {
    display: none;
  }
  .navbar-fixed {
    display: none;
  }
}

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 600px) {
  .home-body {
    bottom: 0;
  }
  .navbar-button {
    visibility: visible;
  }
  .navbar-menu-default {
    display: none;
  }
  .navbar-fixed {
    display: none;
  }
}
