.capa-site {
  opacity: 0.5;
}
.bg-gradient {
  height: 35.8em;
  background: #e52f1e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4286f4,
    #e52f1e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4286f4,
    #e52f1e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.display-flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.slogan {
  font-family: "Anton", sans-serif;
  position: relative;
  bottom: 32em;
  height: 0.8em;
}
.slogan h1 {
  color: #e82c0c !important;
  letter-spacing: 0.1em;
}
.text-shadown {
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
}
.sub-slogan {
  color: #424242 !important;
  font-family: "Anton", sans-serif;
  line-height: 126%;
  font-size: 2.5em;
  margin-bottom: 1em;
  letter-spacing: 0.1em;
}
.sub-slogan h3 {
  font-size: 2em;
}
.text-about {
  line-height: 1.5;
  font-size: 2em;
}

.center-align h1 {
  font-size: 10em;
}
@media screen and (max-width: 768px) {
  .sub-slogan h3 {
    margin-top: 1em;
    font-size: 1em;
  }
  .text-about {
    font-size: 1.5em;
  }
  .parallax-container {
    height: 440px;
  }
  .bg-gradient {
    height: 31.5em;
  }
  .parallax img {
    width: 30em;
  }
}

@media screen and (max-width: 600px) {
  .slogan h1 {
    font-size: 6em;
  }
  .slogan {
    bottom: 30em;
  }
  .sub-slogan {
    font-size: 1.4em;
  }
  .text-about {
    text-align: justify;
    font-size: 1.2em;
  }
  .parallax img {
    width: 36em;
  }
}
@media screen and (max-width: 375px) {
  .sub-slogan h3 {
    margin-top: 1em;
    font-size: 1.5em;
  }
}
