@media screen and (max-width: 2500px) {
  .sub-slogan h2 {
    font-size: 1em;
  }
}

@media screen and (max-width: 900px) {
  .map-br {
    width: 25em;
  }
  .sub-slogan h2 {
    font-size: 1em;
  }
}

/* On screens that are 600px wide or less, the background color is olive */

@media screen and (max-width: 721px) {
  .map-br {
    width: 22em;
  }
  .sub-slogan h2 {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 600px) {
  .map-br {
    width: 30em;
  }
  .sub-slogan h2 {
    font-size: 2em;
  }
}